@tailwind base;
@tailwind components;
@tailwind utilities;
html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}
@keyframes shine {
  0% {
    background-position: -200%;
  }
  100% {
    background-position: 200%;
  }
}

.shiny-text {
  background: linear-gradient(90deg, rgba(182, 70, 70, 1) 0%, rgba(198, 43, 43, 0.6) 50%, rgba(251, 74, 74, 1) 100%);
  background-size: 200%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: shine 2s linear infinite;
}

.shiny-frame {
  position: relative;
  overflow: hidden;
}

.shiny-frame::after {
  content: "";
  position: absolute;
  top: 0;
  left: -75%;
  width: 50%;
  height: 100%;
  background: linear-gradient(120deg, transparent, rgba(232, 24, 24, 0.4), transparent);
  transform: skewX(-20deg);
  animation: shine 2.5s infinite;
}

@keyframes iconShine {
  0% {
    filter: brightness(1);
  }
  50% {
    filter: brightness(0.5);
  }
  100% {
    filter: brightness(1);
  }
}

.hover-glow:hover {
  animation: iconShine 2s ease-in-out infinite;
}

@keyframes loadingBar {
  0% {
    background-position: -200% 0;
  }
  100% {
    background-position: 200% 0;
  }
}

.loading-line {
  height: 4px;
  width: 90%;
  background: linear-gradient(
    90deg,
    rgba(237, 129, 13, 0.4) 0%,
    rgba(8, 55, 109, 0.8) 50%,
    rgba(226, 9, 161, 0.4) 100%
  );
  border-radius: 20px;
  background-size: 200% auto;
  animation: loadingBar 3s linear infinite;
}
.bg-particles {
  position: relative;
  overflow: hidden;
}

.particle {
  animation: particle-move linear infinite alternate, particle-fade ease-in-out infinite forwards;
}

@keyframes particle-move {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(var(--travel-x), var(--travel-y));
  }
}

@keyframes particle-fade {
  0%, 100% {
    opacity: 0;
  }
  30%, 70% {
    opacity: 0.6;
  }
}
